.authors {
    display: inline-block;
    margin: 10px;
}

.author-list,
.author-form {
    display: inline-block;
    border: gray 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.author-form {
    width: 500px;
}

.author-form label {
    display: block;
    width: 125px;
    margin-right: 5px;
}

.author-form input {
    display: block;
    margin-right: 5px;
    width: 400px;
}

td,
th {
    width: 1% !important;
}